@model Bug_Tracker2020.Models.Comment

@{
    ViewData["Title"] = "EditComment";
}

<h1>Edit Comment</h1>

@using Microsoft.AspNetCore.Http;

<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Model.ID

            <div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
            @*<div class="form-group">
            <label asp-for="UserID" class="control-label"></label>
            <input asp-for="UserID" class="form-control" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
        <label asp-for="UserFirstName" class="control-label"></label>
        <input asp-for="UserFirstName" class="form-control" />
        <span asp-validation-for="UserFirstName" class="text-danger"></span>*@
            @*</div>
        <div class="form-group">
            <label asp-for="AdminID" class="control-label"></label>
            <input asp-for="AdminID" class="form-control" />
            <span asp-validation-for="AdminID" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="AdminFirstName" class="control-label"></label>
            <input asp-for="AdminFirstName" class="form-control" />
            <span asp-validation-for="AdminFirstName" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CommentBody" class="control-label"></label>
                <input asp-for="CommentBody" class="form-control" />
                <span asp-validation-for="CommentBody" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="BugID" class="control-label"></label>
            <input asp-for="BugID" class="form-control" />
            <span asp-validation-for="BugID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserBugs">Back to List</a>
</div>

