@model Bug_Tracker2020.ViewModels.EditBugViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using Microsoft.AspNetCore.Http;

<h2>Edit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Edit Status*@
        <form asp-controller="Bug" asp-action="UpdateStatus" method="post">
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control">
                    <option value="New">New</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Closed">Closed</option>
                </select>
                <span asp-validation-for="Status"></span>
                <input type="hidden" asp-for="UserID" value="@Context.Session.GetInt32("ID")" />
                <input type="hidden" asp-for="ID" value=@Model.ID ; />
                <input asp-for="LastModifiedDate" type="hidden" value="@DateTime.Now" />
            </div>
            <input type="submit" value="Update" />
        </form>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class="form-control" asp-items="@Model.Admins"></select>
                <span asp-validation-for="AdminID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.AdminFirstName" />
                <span asp-validation-for="AdminFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>