@{
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h1>Welcome to Bug Tracker</h1>

<h2>Please <a asp-controller="Home" asp-action="Login">Login</a> or <a asp-controller="User" asp-action="Add">Register</a></h2>