@model Bug_Tracker2020.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h1>Login</h1>
<form method="post" asp-controller="Home" asp-action="Login">
    <table border="0" cellpadding="2" cellspacing="2">
        <tr>
            <td>Email Address</td>
            <td><input type="email" name="EmailAddress"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>

