@using Microsoft.AspNetCore.Http;



<h1>Hello, @Context.Session.GetString("firstname")!</h1>

<h2>Would you like to <a asp-controller="Bug" asp-action="Add">Report a Bug</a> or <a asp-controller="Bug" asp-action="UserBugs">View Your Bugs</a>?</h2>



@*<ul>
        @foreach (string key in Context.Session.Keys)
        {
            <li>@Context.Session.GetInt32("id")</li>
        }
    </ul>*@


<br>
@*<a asp-controller="Home" asp-action="Logout">Logout</a>*@

@*View all tickets on the welcome screen?*@
