@model Bug_Tracker2020.Models.User


    <h1>Hello, @Model.EmailAddress!
    </h1>



@using Microsoft.AspNetCore.Http;


    <h3>Success Page</h3>
        Welcome @Context.Session.GetString("emailaddress")
        <br>
        @*<a asp-controller="Home" asp-action="Logout">Logout</a>*@

@*View all tickets on the welcome screen?*@
